## Data Structure

In [ ]:
#append , insert , extend , sort 
x=[1,9,2,3]
x.append(4)
x.insert(4 , 5)
y=[6,12,8]
x.extend(y)
x.sort()
print(x)

In [55]:
x.sort(reverse=True)
print(x)

[12, 9, 8, 6, 5, 4, 3, 2, 1]

In [17]:
print(len(x))

4

In [57]:
#Deleting elements from LISt
#append , insert , extend , sort 
x.remove(5)
print(x)

[12, 9, 8, 6, 4, 3, 2, 1]

In [51]:
#pop will remove the last item in the list 
x.pop()

[2, 3, 6, 8, 9, 12]

In [61]:
# if you want remove items or more use this commands    Variable.pop , Variable.remove and Variable.pop() 
x=[1,2,3,4,5,6,7,8,9,0,10,12]
x.remove(0)
x.pop()
x.pop(9)
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [67]:
# clear removes all items in the list 
x.clear()
print(x)

[]

## Tuple

In [84]:
#Once a tuple is created, you cannot change , u can convert tuple to list 
x = ("Aziz","rayan","faisal",1)
print(type(x))
x=list(x)
print(type(x))
x[3] = "apple"
x

<class 'tuple'>
<class 'list'>

['Aziz', 'rayan', 'faisal', 'apple']

In [86]:
# u can join two tuples
x = (1 , 2 , 3)
y = (4 , 5 , 6 , 7)
aziz = x + y
print(aziz)

(1, 2, 3, 4, 5, 6, 7)

In [98]:
x = [1,2,3,4]
y = [(4,5),(6,7)]
z= (8,7,9)
c = tuple(x+y) + z
print(c)

(1, 2, 3, 4, (4, 5), (6, 7), 8, 7, 9)

## SET

In [ ]:
# Set method 
# 1) add method 
# 2) update method
# 3) len()
# 4)To remove an item in a set, use the remove() or the discard() method
# 5)You can use the union() method that returns a new set containing all items from both sets
# 6)Intersection : will get common matching data items from both datasets.